## 1. Data Types and Variables

### Reference Table
| Code                | Description                                                      |
| ---                 | ---                                                              |
| `x = 3`             | Assign the integer number `3` to the variable `x`                    |
| `x = 3.14`          | Assign the floating number `3.14` to the variable `x`                |
| `x = "hi"`          | Assign the string `"hi"` to the variable `x`                         |
| `x = True`          | Assign the boolean value `True` to the variable `x`                  |
| `type(x)`           | Get the data type of variable `x`                                  |
| `int(x)`, `float(x)`, `str(x)`, `bool(x)`          | Convert the variable `x` to an integer, float, string, boolean  |

**Exercise**: Determine the type of `x`

In [ ]:
a = 123;

In [ ]:
# Solution
type(a)

int

**Exercise**: Determine the type of `ok`

In [ ]:
ok = True;

In [ ]:
# Solution
type(ok)

**Exercise**: Convert `n_trials` to a float

In [ ]:
n_trials = 13;

In [ ]:
# Solution
float(n_trials)

**Exercise**: Convert `percent` to a string

In [ ]:
percent = 0.75;

In [ ]:
# Solution
str(percent)

**Exercise**: Convert `nothing` to a boolean

In [ ]:
nothing = "";

False

In [ ]:
# Solution
bool(nothing)

**Exercise**: Create a boolean variable that is `False` and convert it to an integer

In [ ]:
# Solution
x = False
int(x)

True

**Exercise**: Create a float variable that is `0.001` and convert it to a string

In [ ]:
# Solution
x = 0.001
str(x)

'0.001'

**Exercise**: Create a string variable `"Hello"` and convert it to a boolean

In [ ]:
# Solution
x = "Hello"
bool(x)

False

## 2. Operators

### Reference Table

|Code|Description|
|---|---|
|`x+y`,`x-y`,`x/y`, `x*y` | Add, subtract, divide, multiply two numbers `x` and `y` |
| `x<y`, `x>y`, `x==y`, `x!=y`    | Check whether `x` is smaller, larger, equal to, not equal to `y` |
| `x<=y`, `x>=y`          | Check whether `x` is smaller than or equal to, larger than or equal to `y` |
| `"Psycho"+"Py"`         | Concatenate the two strings (result: `"PsychoPy"`) |
| `"pew" * 2`             | Repeat the string two times (result: `"pewpew"`) |
| `9 ** 2`                | Square the number `9` (result: `81`) |
| `7 % 3`                 | Get the remainder of dividing `7` by `3` (result: `1`) |

**Exercise**: Add `134` and `4721`

In [ ]:
# Solution
134+4721

float

**Exercise**: What is the remainder of dividng 13 by 5?

In [ ]:
# Solution
13 % 5

**Exercise**: What is `567` squared?

In [ ]:
# Solution
567**2

**Exercise**: Concatenate the two strings

In [9]:
x = "Hello"
y = "World";

In [10]:
# Solution
x+y

'HelloWorld'

**Exercise**: What is the data type of the result from dividing `6` by `2`

In [11]:
# Solution
type(6/2)

float

**Exercise**: What is larger? 23 times 81 or 44 squared?

In [ ]:
# Solution
(23*81) > 44**2

False

**Exercise**: Divide 28 by the sum of 3 and 5

In [15]:
# Solution
28 / (3+5)

3.5

**Exercise**: Repeat the string below 3 times

In [ ]:
he = "He";

'HeHeHe'

In [ ]:
# Solution
he * 3

**Exercise**: Which string value is larger, `"a"` or `"b"`?

In [ ]:
# Solution
"a" > "a"

False

**Exercise**: Can `N` be evenly divided by 3?

In [ ]:
# Solution
x%3 == 0

False

## 3. Lists

### Reference Table
|Code|Description|
|---|---|
| `x = [7, 1, 4]` | Define a list containing three values |
| `[2, 3] + [1]` | Concatenate two lists (result: `(2,3,1)`)|
| `[1] * 3`      | Repeat the list (result: `[1,1,1]`)|
| `x[-1]`       | Get the last element of `x`   |
| `x[2:5]`      |  Get the 3rd, 4th and 5th element of `x`|
| `x[1:]`       | Get all elements of `x`, except the first |
| `x.append(1)` |  Append the number `1` to the list `x`|
| `len(x)` | Get the length (i.e. number of elements in) a tuple or list `x`| 
| `sum(x)`  | Get the sum of a tuple or list `x` |

**Exercise**: Create a list that contains the numbers 1, 2, and 3

In [ ]:
# Solution
x = [1, 2, 3]

**Exercise**: Concatenate the two lists defined below

In [ ]:
true_and_false = [True, False]
false_and_true = [False, True]

In [ ]:
# Solution
true_and_false + false_and_true

**Exercise**: Append the next number `8` to the `fibonacci` list

In [ ]:
fibonacci = [0, 1, 1, 2, 3, 5];

[0, 1, 1, 2, 3, 5, 8]

In [ ]:
# Solution
fibonacci.append(8)

**Exercise**: Get the length of the list of `zeros` defined below

In [ ]:
zeros = [0, 0, 0, 0] * 23;

In [ ]:
# Solution
len(zeros)

92

**Exercise**: Get the 3rd element of the `dice_numbers` list

In [ ]:
dice_numbers = [1, 2, 3, 4, 5, 6];

6

In [ ]:
# Solution
dice_numbers[2]

**Exercise**: Get all letters of the `alphabet` except for `"z"`

In [ ]:
alphabet = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'];

['b', 'c', 'd', 'e']

In [ ]:
# Solution
alphabet[:-1]

In [73]:
# Repeat the list below to create a list of 10 zeros
x = [0, 0]

# Solution
x * 5

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [80]:
# Is the list x longer than the list y?

x = [4, 2, 5, 6, 7] * 7
y = [1, 3, 4] * 11

# Solution
len(x) > len(y)

True

## 4. BONUS: Puzzles and Curiosities

In [64]:
# Convert the variable `x` to a string and then back to a boolean
x = False

# Solution
bool(str(x))

True

In [43]:
# Convert the variable `x` which has the value 10^100 to an integer

x = 10e100

# Solution
int(x)

99999999999999997704951326524533662844684271992415000612999597473199345218078991130326129448151154688

In [66]:
# Extract the number 1 from the list defined below
x = [[[3]], [[1]], [[2]]]

# Solution
x[1][0][0]

1

In [ ]:
# Add 1 to the second element of the tuple defined below so the result is (0, 1)

x = (0, 0)

# Solution
x = list(x)
x[1] += 1
x = tuple(x)
print(x)

(0, 1)

In [ ]:
# Rename the variable x. Try including special characters and number. Which names are allowed and which aren't?
x = 1

# Solution
# Lower and upper case letters, numbers (not at the start) and underscore are allowed