## 1. Data Types and Variables

### Reference Table
| Code                | Description                                                      |
| ---                 | ---                                                              |
| `x = 3`             | Assign the integer number `3` to the variable `x`                    |
| `x = 3.14`          | Assign the floating number `3.14` to the variable `x`                |
| `x = "hi"`          | Assign the string `"hi"` to the variable `x`                         |
| `x = True`          | Assign the boolean value `True` to the variable `x`                  |
| `type(x)`           | Get the data type of variable `x`                                  |
| `int(x)`, `float(x)`, `str(x)`, `bool(x)`          | Convert the variable `x` to an integer, float, string, boolean  |

In [ ]:
# Determine the type of the variable `x`
x = 123

# Solution
type(x)

In [ ]:
# Determine the type of the variable `x``
x = True

# Solution
type(x)

In [ ]:
# Convert the variable `x` to a float
x = 13

# Solution
float(x)

In [ ]:
# Convert the variable `x` to a string 
x = 0.75

# Solution
str(x)

In [15]:
# Convert the variable `x` to a boolean

x = ""

# Solution
bool(x)

False

In [6]:
# Create a variable and assign it the boolean value False. Then convert that variable to an integer

# Solution
x = False
int(x)

True

In [16]:
# Create a variable and assign it the float value 0.001. Then convert that variable to a string

# Solution
x = 0.001
str(x)

'0.001'

In [9]:
# Create a variable and assign it the string value "Hello". Then convert it to a boolean

# Solution
x = "Hello"
bool(x)

False

In [1]:
# Convert the variable `x` to an integer and then back to a sting
x = 1.3

# Solution
float(int(x))

1.0

## 2. Operators

### Reference Table

|Code|Description|
|---|---|
|`x+y`,`x-y`,`x/y`, `x*y` | Add, subtract, divide, multiply two numbers `x` and `y` |
| `x<y`, `x>y`, `x==y`, `x!=y`    | Check whether `x` is smaller, larger, equal to, not equal to `y` |
| `x<=y`, `x>=y`          | Check whether `x` is smaller than or equal to, larger than or equal to `y` |
| `"Psycho"+"Py"`         | Concatenate the two strings (result: `"PsychoPy"`) |
| `"pew" * 2`             | Repeat the string two times (result: `"pewpew"`) |
| `9 ** 2`                | Square the number `9` (result: `81`) |
| `7 % 3`                 | Get the remainder of dividing `7` by `3` (result: `1`) |

In [11]:
# Add the two variables defined below. What is the data type of the result?

x = 3
y = 1.2

# Solution
type(x+y)

float

In [ ]:
# Calculate the remainder of dividing 13 by 5

# Solution
13 % 5

In [12]:
# Append to the string variable below so the result reads "Hello World!"

x = "Hello"

# Solution
x + "World!"

'Hello World!'

In [13]:
# Divide x by y. What is the type of the result?

x = 6
y = 2

# Solution
type(x/y)

float

In [18]:
# Test whether x and y are equal
x = True
y = 1

# Solution 
x == y

True

In [ ]:
# Which multiplication gives the larger result: 23 times 81 or 44 squared ?

# Solution
(23*81) > 44**2

False

In [25]:
# Divide 23 by the sum of 3 and 5

# Solution
23 / (3+5)

2.875

In [28]:
# Which of the two variables below is larger?

x = 12 / 3 / 2
y = 12 / (3 / 2)

# Solution
x < y

True

In [29]:
# Repeat the string below 3 times

x = "He"

# Solution
x*3

'HeHeHe'

In [22]:
# Which of the two variables below is larger?

x = "a"
y = "b"

# Solution
y > x

False

In [ ]:
# What is the square root of 3136?

# Solution
3136 ** (1/2)

56.0

In [67]:
# Check if x can be evenly divided by 3
x = 2761

# Solution
x%3 == 0

False

## 3. Collections

### Reference Table
|Code|Description|
|---|---|
| `[7, 1, 4]` | Define a list containing three values |
| `(2, 3) + (1)` | Concatenate two tuples (result: `(2,3,1)`)|
| `x.sort()` | Sort the list `x` |
| `x.append(1)` |  Append the numner `1` to the list `x`|
| `tuple(x)`, `list(x)` | Convert x to a list, tuple|
| `len(x)` | Get the length (i.e. number of elements in) a tuple or list `x`| 
| `sum(x)`  | Get the sum of a tuple or list `x` |

In [ ]:
# Define a tuple that contains the numbers 1 to 4

# Solution
x = (1, 2, 3, 4)

In [63]:
# Concatenate the two lists defined below

x = [True, False]
y = [False, True]

# Solution
x + y

[True, False, False, True]

In [72]:
# Sort the list defined below
x = ["v", "a", "t", "h"]

# Solution
x.sort()
x

['a', 'h', 't', 'v']

In [82]:
# Append the next element of the Fibonnaci sequence to the list x
x = [0, 1, 1, 2, 3, 5]

# Solution
x.append(8)
x

[0, 1, 1, 2, 3, 5, 8]

In [84]:
# Get the last element of x

x = (0, 1, 2, 3, 4, 5, 6)

# Solution
x[-1]
x[len(x)-1]

6

In [ ]:
# What happens if you try to add 1 to the first element of x?

x = (0.5, 1.3)

# Solution
x[1] = x[1]+1

In [90]:
# Get the 2nd to 5th letter of the alphabet
x = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

# Solution
x[1:5]

['b', 'c', 'd', 'e']

In [73]:
# Repeat the list below to create a list of 10 zeros
x = [0, 0]

# Solution
x * 5

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [80]:
# Is the list x longer than the list y?

x = [4, 2, 5, 6, 7] * 7
y = [1, 3, 4] * 11

# Solution
len(x) > len(y)

True

In [ ]:
# How many elements in this list are True and how many are False
x = [True, False, False, True, False, True, False, True, False, True]
#TODO: exercise that shows that True can be summed

# Solution
sum(x)  # number of True elements
len(x) - sum(x) # number of False elements

In [77]:
# Determine if the lists x and y contain the same elements irrespective of their order

x = [6, 3, 8, 7, 9, 1, 2]
y = [7, 2, 8, 9, 1, 3, 6]

# Solution
x.sort()
y.sort()
x==y

True

## 4. BONUS: Puzzles and Curiosities

In [64]:
# Convert the variable `x` to a string and then back to a boolean
x = False

# Solution
bool(str(x))

True

In [43]:
# Convert the variable `x` which has the value 10^100 to an integer

x = 10e100

# Solution
int(x)

99999999999999997704951326524533662844684271992415000612999597473199345218078991130326129448151154688

In [66]:
# Extract the number 1 from the list defined below
x = [[[3]], [[1]], [[2]]]

# Solution
x[1][0][0]

1

In [ ]:
# Add 1 to the second element of the tuple defined below so the result is (0, 1)

x = (0, 0)

# Solution
x = list(x)
x[1] += 1
x = tuple(x)
print(x)

(0, 1)

In [ ]:
# Rename the variable x. Try including special characters and number. Which names are allowed and which aren't?
x = 1

# Solution
# Lower and upper case letters, numbers (not at the start) and underscore are allowed