# Introduction to Python

Welcome to the course!
Our aim is to develop robust experiment applications in Python and use structured approaches and techniques for programming that make our lives easier.
We start our journey by building or revising our fundamental knowledge of Python.
This notebook focuses on how to represent and manipulate different kinds of data using basic Python operations.

## 1. Data Types and Variables

Programs receive, create and operate on data.
There are many different types but a few **essential** ones can be found in most programming languages.
 In Python, they are called:

- **int**: integers or non-decimal numbers, example -7, 0, 101
- **float**: floating-point numbers with a limited number of decimal places, for example: 0.1, pi, 1/3
- **str**: a string of characters, marked by quotations, for example "a", "13", "hello"
- **bool**: boolean logical values, can be either True or False

The type determines the range of **values** the data can take on as well as the set of **operations** that can be performed on them (more on this in the next section).
For each type there is a function with the same name that converts data to that type.
For example `int(x)` converts the value of `x` to an integer --- this is known as **type casting**.


### Reference Table
| Code                | Description                                                                                    |
| ---                 | ---                                                                                            |
| `x = 3`             | Assign the integer number `3` to the variable `x`                                              |
| `x = 3.14`          | Assign the floating number `3.14` to the variable `x`                                          |
| `x = "hi"`          | Assign the string `"hi"` to the variable `x`                                                   |
| `x = True`          | Assign the boolean value `True` to the variable `x`                                            |
| `type(x)`           | Get the data type of variable `x`                                                              |
| `int(x)`, `float(x)`, `str(x)`, `bool(x)` | Convert the variable `x` to an integer, float, string, boolean  |

**Exercise**: Determine the type of `x`

In [43]:
a = 123;

In [44]:
# Solution
type(a)

int

**Exercise**: Determine the type of `ok`

In [45]:
ok = True;

In [46]:
# Solution
type(ok)

bool

**Exercise**: Convert `n_trials` to a float

In [47]:
n_trials = 13;

In [48]:
# Solution
float(n_trials)

13.0

**Exercise**: Convert `percent` to a string

In [49]:
percent = 0.75;

In [50]:
# Solution
str(percent)

'0.75'

**Exercise**: Convert `nothing` to a boolean

In [51]:
nothing = "";

In [52]:
# Solution
bool(nothing)

False

**Exercise**: Create a boolean variable that is `False` and convert it to an integer

In [53]:
# Solution
x = False
int(x)

0

**Exercise**: Create a float variable that is `0.001` and convert it to a string

In [54]:
# Solution
x = 0.001
str(x)

'0.001'

**Exercise**: Create a string variable `"Hello"` and convert it to a boolean

In [55]:
# Solution
x = "Hello"
bool(x)

True

## 2. Operators

Operators are special symbols or keywords that perform operations on values and variables.
They're the basic tools Python uses to work with data.
One important class are arithmetic operators, like `+` and `*`.
In some situations, these behave as you would expect: for example, adding two numbers computes their sum.
However, sometimes they do things that may be unexpected: for example, adding two strings concatenates them.
Some combinations of data types an operators are not defined at all: for example, you can't subtract one string from another.
Another important class are comparisons such as `<` or `==`.
These allow us to ask: is one value greater, smaller or the same as another one, and they always return either `True` or `False`.

### Reference Table

|Code                             |Description                                                         |
|---                              |---                                                                 |
|`x+y`,`x-y`,`x/y`, `x*y`         | Add, subtract, divide, multiply two numbers `x` and `y`            |
| `x<y`, `x>y`, `x==y`, `x!=y`    | Check whether `x` is smaller, larger, equal to, not equal to `y`   |
| `x<=y`, `x>=y`                  | Check whether `x` is smaller than or equal to, larger than or equal to `y` |
| `"Psycho"+"Py"`                 | Concatenate the two strings (result: `"PsychoPy"`)                 |
| `"pew" * 2`                     | Repeat the string two times (result: `"pewpew"`)                   |
| `9 ** 2`                        | Square the number `9` (result: `81`)                               |
| `7 % 3`                         | Get the remainder of dividing `7` by `3` (result: `1`)             |

**Exercise**: Add `134` and `4721`

In [56]:
# Solution
134+4721

4855

**Exercise**: What is the remainder of dividng 13 by 5?

In [57]:
# Solution
13 % 5

3

**Exercise**: What is `567` squared?

In [58]:
# Solution
567**2

321489

**Exercise**: Concatenate the two strings

In [59]:
x = "Hello"
y = "World";

In [60]:
# Solution
x+y

'HelloWorld'

**Exercise**: What is the data type of the result from dividing `6` by `2`

In [61]:
# Solution
type(6/2)

float

**Exercise**: What is larger? 23 times 81 or 44 squared?

In [62]:
# Solution
(23*81) > 44**2

False

**Exercise**: Divide 28 by the sum of 3 and 5

In [63]:
# Solution
28 / (3+5)

3.5

**Exercise**: Repeat the string below 3 times

In [64]:
he = "He";

In [65]:
# Solution
he * 3

'HeHeHe'

**Exercise**: Which string value is larger, `"a"` or `"b"`?

In [66]:
# Solution
"a" > "a"

False

**Exercise**: Can `N` be evenly divided by 3?

In [67]:
N =35624

In [68]:
# Solution
N%3 == 0

False

## 3. Lists

Often, we want to represent not only a single datum but collections of data.
The `list` is a datatype that allows us to do exactly that.
Think of lists as a container that can hold any kind of data --- even other lists.
Since lists are ordered we can also access specific elements of the list by providing their indices.
One think to keep in mind is that Python starts to count at 0 so `x[0]` will return the 1st element of a list and `x[1]` will actually return the second one.

### Reference Table
|Code|Description|
|---|---|
| `x = [7, 1, 4]` | Define a list containing three values |
| `[2, 3] + [1]` | Concatenate two lists (result: `(2,3,1)`)|
| `[1] * 3`      | Repeat the list (result: `[1,1,1]`)|
| `x[-1]`       | Get the last element of `x`   |
| `x[2:5]`      |  Get the 3rd, 4th and 5th element of `x`|
| `x[1:]`       | Get all elements of `x`, except the first |
| `x.append(1)` |  Append the number `1` to the list `x`|
| `len(x)` | Get the length (i.e. number of elements in) a tuple or list `x`| 
| `sum(x)`  | Get the sum of a tuple or list `x` |

**Exercise**: Create a list that contains the numbers 1, 2, and 3

In [69]:
# Solution
x = [1, 2, 3]

**Exercise**: Concatenate the two lists defined below

In [70]:
weekdays = ["mo", "tue", "wed", "thu", "fr"]
weekend = ["Sa", "Sun"]

In [71]:
# Solution
weekdays + weekend

['mo', 'tue', 'wed', 'thu', 'fr', 'Sa', 'Sun']

**Exercise**: Append the next number `8` to the `fibonacci` list

In [72]:
fibonacci = [0, 1, 1, 2, 3, 5];

In [73]:
# Solution
fibonacci.append(8)

**Exercise**: Get the length of the list of `zeros` defined below

In [74]:
zeros = [0, 0, 0, 0] * 23;

In [75]:
# Solution
len(zeros)

92

**Exercise**: What is the sum of the list `true_and_false`?

In [76]:
true_and_false = [True, False, False, True, True, True]

In [77]:
# Solution
sum(true_and_false)

4

**Exercise**: Get the 3rd element of the `dice_numbers` list

In [78]:
dice_numbers = [1, 2, 3, 4, 5, 6];

In [79]:
# Solution
dice_numbers[2]

3

**Exercise**: Get all letters of the `alphabet` except for `"z"`

In [80]:
alphabet = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'];

In [81]:
# Solution
alphabet[:-1]

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y']

**Exercise**: Create a list of 100 zeros

In [82]:
# Solution
[0,0] * 5

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

**Exercise**: Which of the two lists defined below is longer?

In [83]:
# Is the list x longer than the list y?

x = [4, 2, 5, 6, 7] * 7
y = [1, 3, 4] * 11

# Solution
len(x) > len(y)

True

## BONUS: Puzzles

Here is a little bonus section that lets you explore some more intricate details of data types and operators and see some ways in which they can produce unexpected results.

**Excercise**: Compute the square root of 1156 using only the operators introduced in this notebook

In [84]:
# Solution
1156 ** (1/2)

34.0

**Excercise**: What percentage of Elements in the list below is `True`?

In [85]:
was_hit = [True, False, True, True, False, False, True, False, False, True, False, False, False, True]

In [86]:
# Solution
sum(was_hit)/len(was_hit)*100

42.857142857142854

**Exercise**: What happens if you convert a boolean value `False` to a `str` and then back to a `bool`?

In [87]:
# Solution
bool(str(False))

True

**Exercise**: Check if `0.1 + 0.2` is equal to `0.3`:

In [88]:
# Solution
print(0.1 + 0.2 == 0.3)  # False

False

**Excercise**: Compute the square root of 1156 using only the operators introduced in this notebook

In [89]:
list_of_lists = [[[3], [1]], [[2]]]

In [90]:
# Solution
list_of_lists[0][1][0]

1